*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(90deg,rgba(56, 114, 250, 0.815) 60%,white);
}
:root{
    --color-primary:red;
    --color-secondary:orangered;
}
.container {
    border-radius: 20px;
    max-width: 35vw;
    min-width: 200px;
    min-height: 200px;
    backdrop-filter: blur(500px);
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px rgb(59, 59, 59);
    margin-left: 25rem;
    margin-top: 5rem;
    font-size: 20px;
}
.row button{
    font-size: 13px;
}
.to-do{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;
}
.box1 img{
    max-width: 35px;
    max-height: 35px;
    margin-left: 10px;
}
.box1{
    display: flex;
}
.to-do h3{
    display: inline;
    margin-left: 30px;
    font-weight: 700;
}
.box2{
    position: relative;
}
i{
    position:absolute;
    padding-top: 8px;
    right: 50px;
    cursor: pointer;
}


/* ROW */
.row{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    background:rgb(206, 203, 203);
    /* border: 2px solid black; */
    border-radius: 25px;
}
input{
    border: none;
    border-radius: 25px;
    background:transparent;
    width: 100%;
    padding: 15px;
    outline: none;
    font-size: .9rem;
    height: 20px;
}
.row:focus-within{
    box-shadow: 1px 1px 15px rgb(0, 0, 0);

}
button{
    border-radius: 25px;
    text-decoration: none;
    border: none;
    width: 10rem;
    background: var(--color-secondary);
    cursor: pointer;
}
.box1 span{
    color: var(--color-secondary);
}

/* tasks */

ul li{
    list-style:none;
    font-size: 16px;
    padding: 15px 50px 0px 70px;
    cursor: pointer;
    position: relative;
    border-radius: 35px;
    min-height: 45px;
    margin: 0 15px 20px 15px;
}
ul li:hover{
    background: rgba(128, 128, 128, 0.267);
}

ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: url('unchecked.png');
    background-size: cover;
    background-position: center;
    top: 14px;
    left: 20px;
    padding: 2px;
}
ul li.checked{
    text-decoration: line-through;
}
.checked p{
    opacity: 0.5;
}
ul li.checked::before{
    background: url('checked.png');
    background-position: center;
    background-size: cover;
}
/* ul li{
    display: flex;
    justify-content: space-between;
} */
ul li span{
    position: absolute;
    right: 1rem;
    bottom: 18px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    background: rgb(205, 202, 202);
    color: var(--color-primary);
    border-radius: 50%;
}
ul li span:hover{
    background: var(--color-primary);
    color: white;
}
